body {
  background-color: pink;
  margin: 0;
  padding: 0;
}

/* Chat Tab */

.chatTab {
  height: 100vh;
  background-color: white;
}

.logo {
  border: 1px solid black;
}



/* Content */

.content {
  height: 100vh;
  background-color: #F8F8FC;
}